In [49]:
import pandas as pd

In [50]:
df= pd.read_csv('main.csv')

In [51]:
df.head()

,Account_Name,Data_Source_name,Date,Campaign_Name,Channel,Objective,Audience,Promo,Location,Ad_Name,...,Revenue,Purchases,SkiBig3_Conversions,Visits,Spend,Video_Views,SkiBig3___Total_Conv_,Format,Currency,Completed_Video_Views
0,SkiBig3,API Feed - Amazon Ads - data,2025-07-07,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0
1,SkiBig3,API Feed - Amazon Ads - data,2025-07-11,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0
2,SkiBig3,API Feed - Amazon Ads - data,2025-07-10,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0
3,SkiBig3,API Feed - Amazon Ads - data,2025-07-08,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0
4,SkiBig3,API Feed - Amazon Ads - data,2025-07-09,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0

In [52]:
type(df['Data_Source_name'])

pandas.core.series.Series

In [65]:
list(df['Data_Source_name'])[0][11:20].lower().strip()

'amazon ad'

In [66]:
df['Platform_name']=df['Data_Source_name'].str[11:20]

In [67]:
df.head()

,Account_Name,Data_Source_name,Date,Campaign_Name,Channel,Objective,Audience,Promo,Location,Ad_Name,...,Purchases,SkiBig3_Conversions,Visits,Spend,Video_Views,SkiBig3___Total_Conv_,Format,Currency,Completed_Video_Views,Platform_name
0,SkiBig3,API Feed - Amazon Ads - data,2025-07-07,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0,Amazon Ad
1,SkiBig3,API Feed - Amazon Ads - data,2025-07-11,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0,Amazon Ad
2,SkiBig3,API Feed - Amazon Ads - data,2025-07-10,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0,Amazon Ad
3,SkiBig3,API Feed - Amazon Ads - data,2025-07-08,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0,Amazon Ad
4,SkiBig3,API Feed - Amazon Ads - data,2025-07-09,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,0.0,0.0,NaN,Video,CAD,0.0,Amazon Ad

In [69]:
df.sort_values(by=['Spend'],ascending=False)

,Account_Name,Data_Source_name,Date,Campaign_Name,Channel,Objective,Audience,Promo,Location,Ad_Name,...,Purchases,SkiBig3_Conversions,Visits,Spend,Video_Views,SkiBig3___Total_Conv_,Format,Currency,Completed_Video_Views,Platform_name
217,SkiBig3,War Room - DV360,2025-07-04,2025-2026,Social Display Audience,Awareness,Destination,Flash Sale,USA,FS Jul 13 _ Ad 3,...,NaN,NaN,NaN,229.021527,NaN,NaN,Static,CAD,0.0,DV360
215,SkiBig3,War Room - DV360,2025-07-04,2025-2026,Social Display Audience,Awareness,Destination,Flash Sale,USA,FS Jul 13 _ Ad 3,...,NaN,NaN,NaN,226.950888,NaN,NaN,Static,CAD,0.0,DV360
357,SkiBig3,\t SkiBig3 - Google Ads - Main,2025-07-03,2025-2026,Google Search,Conversion,Destination,Search,CAN,All CAN Brand,...,0.0,NaN,NaN,187.607422,NaN,0.0,Text,CAD,NaN,Google A
365,SkiBig3,\t SkiBig3 - Google Ads - Main,2025-07-02,2025-2026,Google Search,Conversion,Destination,Search,CAN,All CAN Brand,...,0.0,NaN,NaN,186.491927,NaN,0.0,Text,CAD,NaN,Google A
358,SkiBig3,\t SkiBig3 - Google Ads - Main,2025-07-04,2025-2026,Google Search,Conversion,Destination,Search,CAN,All CAN Brand,...,0.0,NaN,NaN,184.673922,NaN,0.0,Text,CAD,NaN,Google A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,SkiBig3,\t SkiBig3 - Google Ads - Main,2025-07-09,2025-2026,Google Search,Conversion,Destination,Search,AUS,All AUS Brand,...,0.0,NaN,NaN,0.000000,NaN,0.0,Text,CAD,NaN,Google A
762,SkiBig3,\t SkiBig3 - Google Ads - Main,2025-07-06,2025-2026,Google Search,Conversion,Destination,Search,AUS,All AUS Brand,...,0.0,NaN,NaN,0.000000,NaN,0.0,Text,CAD,NaN,Google A
763,SkiBig3,\t SkiBig3 - Google Ads - Main,2025-07-10,2025-2026,Google Search,Conversion,Destination,Search,AUS,All AUS Brand,...,0.0,NaN,NaN,0.000000,NaN,0.0,Text,CAD,NaN,Google A
764,SkiBig3,\t SkiBig3 - Google Ads - Main,2025-07-13,2025-2026,Google Search,Conversion,Destination,Search,AUS,All AUS Brand,...,0.0,NaN,NaN,0.000000,NaN,0.0,Text,CAD,NaN,Google A
3,SkiBig3,API Feed - Amazon Ads - data,2025-07-08,2024-2025,Amazon Prime Video Audience,Awareness,Destination,Ski Stay,USA,AThing _ Ad 1,...,NaN,NaN,NaN,0.000000,0.0,NaN,Video,CAD,0.0,Amazon Ad

In [72]:
try:
    x=1/0
except ZeroDivisionError:
    print('There is a Zero division error')

There is a Zero division error

In [73]:
with open('text.txt','w') as f:
    f.write("This is first line \n")
    f.write("This is second line \n")
    f.write("This is third line \n")

In [76]:
f.close()

In [82]:
names=['aman','ranjana','vishnu','harinder','sunita']

In [86]:
abc_test=[]
for name in names:
    abc_test.append(f"Name is {name}")
    print(abc_test)

['Name is aman']
['Name is aman', 'Name is ranjana']
['Name is aman', 'Name is ranjana', 'Name is vishnu']
['Name is aman', 'Name is ranjana', 'Name is vishnu', 'Name is harinder']
['Name is aman', 'Name is ranjana', 'Name is vishnu', 'Name is harinder', 'Name is sunita']

In [80]:
abc_test=[]
for i in abc_list:
    abc_test.append(i+1)
    print(abc_test)

[2]
[2, 3]
[2, 3, 5]
[2, 3, 5, 6]
[2, 3, 5, 6, 7]
[2, 3, 5, 6, 7, 8]
[2, 3, 5, 6, 7, 8, 9]
[2, 3, 5, 6, 7, 8, 9, 10]
[2, 3, 5, 6, 7, 8, 9, 10, 12]

In [87]:
def add_number(a,b):
    return a+b

In [90]:
print(add_number(5,17))

22

In [91]:
def database_columns(*args):
    for args in args:
        print(args)

In [92]:
database_columns("name","address","dob","city")

name
address
dob
city

In [93]:
def database_columns(**kwargs):
    for value in kwargs.items():
        print(value)

In [94]:
print(database_columns(name="Aman",age="35"))

('name', 'Aman')
('age', '35')
None